bin/
build/
data/
lib/faiss/
example/plink_map.nosex
example/plink_map.ped
example/segments/*.vcf
python/scripts/__pycache__/
python/scripts/distance/__pycache__/
python/scripts/distance/dist_data/
python/scripts/distance/ped_intf/
python/scripts/distance/ped_poiss/
python/scripts/distance/test_files/
python/scripts/faiss/*.txt
python/scripts/faiss/__pycache__/
python/scripts/ibd/__pycache__/
python/scripts/plotting/png/
python/scripts/plotting/txt/
python/scripts/plotting/__pycache__/
python/scripts/plotting/plink_pedigree/png/
python/scripts/plotting/plink_pedigree/*.dict
python/scripts/pysam/__pycache__/
python/scripts/utils/__pycache__/
python/scripts/cnn/
python/training_loop/__pycache__/
.snakemake/
