[submodule "lib/htslib"]
	path = lib/htslib
	url = https://github.com/samtools/htslib.git
[submodule "lib/phasedibd"]
	path = lib/phasedibd
	url = https://github.com/23andMe/phasedibd.git
[submodule "ScalableVectorSearch"]
	path = ScalableVectorSearch
	url = https://github.com/IntelLabs/ScalableVectorSearch.git
