bin/
build/
data/
lib/
plink.*
python/scripts/__pycache__/
python/scripts/ibd/__pycache__/
python/scripts/plotting/png/
python/scripts/plotting/txt/
python/scripts/plotting/__pycache__/
python/scripts/pysam/__pycache__/
python/scripts/utils/__pycache__/
python/scripts/cnn/
python/training_loop/__pycache__/
.snakemake/
