bin/
build/
data/
lib/
old_make/
kristen/vec_src/
plink.*
python/plotting/png/
python/plotting/txt/
python/segcounts/
python/scripts/cnn/__pycache__/
python/scripts/plotting/__pycache__/
python/scripts/__pycache__/
.snakemake/
