map ./example/interpolated.map

ped ./example/example.ped

output ./example/iLASH-example.match

slice_size 2000

step_size 500

perm_count 20

shingle_size 15

shingle_overlap 0

bucket_count 5

max_thread 2

match_threshold 0.99

interest_threshold 0.70

min_length 2.9

auto_slice 1 

slice_length 2.9

cm_overlap 1

minhash_threshold 55


